body {
	padding: 0px;
	margin: 0px;	
	font-size: 14px;
        background-color: #e8e8e8;

}

a {
	color: darkblue;
	text-decoration: none;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none;
	display: block;
	float: left;
	margin: 0px;
	padding: 0px;
}
img {
	border: none;
}
#buttons {
	display: none;
	float: left;
	padding-left: 25px;
}
#buttons li {
	padding: 7px 0px 0px;
}
#menu {
	position: absolute;
	top: 57px;
	left: 15px;
	text-align: center;
}
#menu li {
	padding: 2px 15px 0px 0px;
	text-align: center;
}
#timer {
	float: left;
	padding: 5px 0px 0px 15px;
	font-size: 33px;
	text-align: left;
	width: 150px;
}

#banner {
	width: 468px;
	height: 60px;
        position: absolute;
	top: 5px;
	right: 5px;
        background-color: #708aa4;
        overflow: hidden;
	
}
#banner img {
	width: 468px;
	height: 60px;	
}